{{>header}}

<h1>Bienvenidos</h1>
<p>Esta es la pagina de educación continua para acceder a las funcionalidades inicia sesion</p>
<a href="./login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Iniciar sesion</a>
<a href="./registro" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Registrarse</a>


{{>footer}}