<h1>Bienvenido{{est}}</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="./crearCurso">CREAR CURSO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./verCursos" id="getCursos">VER CURSOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./inscritos">VER INSCRITOS</a>
      </li>
    </ul>
  </div>
</nav>